// Typography
@font-face {font-family: 'Veneer';src: url('assets/webfonts/35515C_0_0.eot');src: url('assets/webfonts/35515C_0_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/35515C_0_0.woff2') format('woff2'),url('assets/webfonts/35515C_0_0.woff') format('woff'),url('assets/webfonts/35515C_0_0.ttf') format('truetype');}

// General properties
body, p {
 

font-family: din-2014, sans-serif;

font-weight: 400;

font-style: normal;

  
}

h2, h3, h4, h5, h6 {


  font-family: din-2014, sans-serif;

  font-weight: 400;
  
  font-style: normal;
  line-height: 1;
  
  
}




h1 {

  font-family: futura-pt, sans-serif;
  
  font-weight: 700;
  
  font-style: normal;
  font-size: 4em;
}
h2{
  font-weight: 600;
  line-height: 3em;
}
h3{
  font-weight: 600;
  line-height: 2em;
}

.h1-extra {


  font-family: din-2014-narrow, sans-serif;

  font-weight: 700;
  
  font-style: normal;
  
  text-transform: uppercase;

}

@include media-breakpoint-up(sm) { 
  h1 {
    font-size:6em;
  }
 }
@media (min-width: 768px) {
  .page-img-header{
      height: 50%;
  }
}

// Blockquote
.blockquote {
  padding: $blockquote-padding-y $blockquote-padding-x;
  border-left: .25rem solid #eceeef;
  &.text-right {
    border-right: .25rem solid #eceeef;
    border-left: none;
  }
  .bq-title {
    margin-bottom: 0;
    font-size: $font-size-large;
    font-weight: 400;
  }
  p {
    padding: $blockquote-p-padding-y 0;
    font-size: $blockquote-p-font-size;
  }
}

@each $name, $color in $basic {
  .bq-#{$name} {
    border-left: 3px solid $color !important;
    .bq-title {
      color: $color !important;
    }
  }
}

// Responsive headings
@each $key, $val in $grid-breakpoints {
  @include media-breakpoint-up($key) {
    $y: map-get($responsive-headings, $key);
    @each $name, $value in $y {
      .#{$name}-responsive {
        font-size: $value;
      }
    }
  }
}

@each $name, $color in $basic-mdb-colors {
  @include text-emphasis-variant(".text-#{$name}", $color);
}

.font-small {
  font-size: $font-size-small;
}

strong {
  font-weight: 500;
}